<nav class="admin-nav">
  @!link({ route: 'admin.dashboard', text: 'Panel' })
  @!link({ route: 'admin.users.index', text: 'Usuarios' })
  @!link({ route: 'admin.moderation.index', text: 'Moderación' })
  @!link({ route: 'admin.reports.events', text: 'Reportes' })
  @!link({ route: 'admin.audit.index', text: 'Auditoría' })
</nav>