<nav class="admin-nav admin-nav-sub">
  @!link({ route: 'admin.reports.events', text: 'Eventos' })
  @!link({ route: 'admin.reports.bets', text: 'Apuestas' })
  @!link({ route: 'admin.reports.financial', text: 'Financiero' })
  @!link({ route: 'admin.reports.users', text: 'Usuarios' })
</nav>